@import 'compass/css3/box-sizing';
@import 'normalize.scss/_normalize.scss';

$margin: 4px;

@mixin margin-vertical($val) {
    padding-top: $val;
    &:first-child {
        padding: 0;
    }
}

@mixin margin-horizontal($val) {
    padding-left: $val;
    &:first-child {
        padding: 0;
    }
}

* {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
}

body {
    padding: $margin;
}

button {
    width: 100%;
    height: 100%;
}

input[type=number] {
    text-align: center;
    padding: 0;
    border: none;
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

.row {
    float: left;
    width: 100%;
    height: 28%;
    @include margin-vertical($margin);
}

.row-display {
    height: 22%;
}

.split > div {
    float: left;
    width: 50%;
    height:100%;
    @include margin-horizontal($margin);
}

.timeinput {
    float: left;
    width: 33.33333333%;
    height: 100%;
    @include margin-horizontal($margin);
}

.timeinput > button,
 .timeinput > input {
    float: left;
    width: 100%;
    height: 33.33333333%;
}

.btn > div {
    float: left;
    width: 100%;
    height: 50%;
    @include margin-vertical($margin);
}

.finished {
    color: #ff0000;
}

.display {
    background: #a6a6a6;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    // font-size: 6vw;
}

.hidden {
    display: none;
}
