@import 'compass/css3/box-sizing';
@import 'compass/css3/user-interface';
@import "compass/css3/transform";
@import 'compass/css3/transition';
@import 'normalize.scss/_normalize.scss';

$margin: 4px;

@mixin margin-horizontal($val) {
    padding-left: $val;
    &:first-of-type {
        padding: 0;
    }
}

* {
    @include box-sizing(border-box);
    @include user-select(none);
    outline: 0;
}

html, body {
    height: 100%;
}

body {
    background: #333;

    & > .container {
        height: 100%;
        overflow: hidden;
    }
}

button {
    width: 100%;
}

#center-panel {
    position: relative;
    left: 0;
    height: 100%;
    background: #fff;
    @include single-transition(all, 0.3s);

    &.sidepanel-enabled {
        @include transform(translateX(80%));
    }
}

.main {
    height: 100%;
    padding: $margin;
    & button {
        height: 100%;
    }
}

input {
    @include user-select(text);
}

input[type=number] {
    text-align: center;
    padding: 0;
    border: none;
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}

header {
    position: absolute;
    width: 100%;
    height: 36px;
    background: #ff4e00;
    color: #fff;
    text-align: center;
    // offset the floated menu image so that h1 is centered
    padding: 7px 23px $margin $margin;

    button {
        float: left;
        background: transparent;
        border: 0;
        width: auto;
    }
}

h1 {
    font-size: 1rem;
    margin: 0;
}

.row {
    float: left;
    width: 100%;
    height: 26%;
    padding-top: $margin;
}

.row.split {
    height: 22%;
}

.row-first {
    padding-top: 36px;
}

.split > div {
    float: left;
    width: 50%;
    height:100%;
    @include margin-horizontal($margin);
}

.timeinput {
    float: left;
    width: 33.33333333%;
    height: 100%;
    @include margin-horizontal($margin);
}

.timeinput > button,
.timeinput > input {
    float: left;
    width: 100%;
    height: 33.33333333%;
}

.btn > div {
    float: left;
    width: 100%;
    height: 50%;
    padding-top: $margin;
    &:first-of-type {
        padding: 0;
    }
}

.display {
    background: #4d4d4d;
    color: #e7e7e7;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.1rem;
    // font-size: 6vw;
}

@-webkit-keyframes pulse {
    from {
        background-color: #820000;
    }
    to {
        background-color: #b90000;
    }
}

@keyframes pulse {
    from {
        background-color: #820000;
    }
    to {
        background-color: #b90000;
    }
}

.finished {
    background-color: #820000;
    -webkit-animation: pulse 0.5s ease-in-out infinite alternate;
    animation: pulse 0.5s ease-in-out infinite alternate;
}

.right-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    overflow: auto;
    color: #fff;

    h2 {
        font-size: 1rem;
        line-height: 1rem;
        margin: 0;
        padding: 10px;
        background: #5f5f5f;
    }

    .container {
        padding: 15px 10px;
    }

    button {
        padding: 5px;
        background: #008eab;
        color: #fff;
        border: 0;
        border-radius: 3px;
        margin-bottom: 15px;
    }

    .settings button {
        background: #a6a6a6;
        color: #333333;
    }

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    li {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
        padding: 5px;
        margin-bottom: 10px;
        background: #eaeae7;
        color: #333;
        border-radius: 3px;
    }

    .description {
        font-weight: bold;
    }

    .duration {
        color: #5f5f5f;
    }

}

#presetshint {
    font-size: 0.8rem;
    color: gray;
    text-align: center;
}

.hidden {
    display: none;
}
